/* FloatingChatbotButton.css */
.floating-chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 500px;
    height: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    background-color: white;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
  }
  
  .floating-chatbot.open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  
  .chatbot-iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  
  .chatbot-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 30%;
    background-color: #00cb30;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1001;
  }
  
  .chatbot-button:focus {
    outline: none;
  }
  