@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-5xl {
    box-shadow: rgba(253, 116, 116, 0.1) 0px 54px 45px,
      rgba(80, 245, 245, 0.05) 0px -12px 30px,
      rgba(30, 108, 255, 0.05) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .shadow-dropdown {
    box-shadow: 0px 15px 10px 1px rgba(20, 20, 20, 0.3);
  }

  .shadow-inset {
    box-shadow: var(--public-nav-shadow-1) 3px 3px 6px 0px inset,
      var(--public-nav-shadow-2) -3px -3px 6px 1px inset;
  }

  .glass-box-shadow {
    box-shadow: 0px 20px 20px 1px rgba(0, 0, 0, 0.39);
  }

  .input-shadow {
    box-shadow: 5px 20px 20px 1px rgba(235, 116, 116, 0.1);
  }

  .login-img {
    -webkit-box-shadow: 0px 3px 29px 11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 3px 29px 11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 3px 29px 11px rgba(0, 0, 0, 0.7);
  }

  .profile-inset-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  .profile-form-shadow {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .theme-transition {
    @apply transition-colors duration-300;
  }

  .resource-box-gradient {
    background: linear-gradient(
      112.1deg,
      var(--resource-box-bg-1) 11.4%,
      var(--resource-box-bg-2) 70.2%
    );
  }
}

@layer components {
  .items-container {
    @apply bg-gradient-to-r from-public-nav-1 to-public-nav-2 shadow-inset hover:shadow-5xl transition-all duration-700 ease-in-out;
  }

  .public-nav-items {
    @apply flex flex-col w-full text-lg sm:text-xl items-center md:flex-row md:items-center gap-12 md:gap-[6vw] xl:gap-[4vw] text-black md:items-container md:p-4 md:px-8 xl:px-6 rounded-xl hover:scale-[1.05];
  }

  .glass-container {
    @apply md:bg-white/10 glass-box-shadow;
  }

  .floating-input {
    @apply block rounded-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-white font-semibold bg-white/20 md:bg-[#d4d2d2]/80 border-b-2 input-shadow appearance-none border-gray-500 focus:border-blue-200/80 focus:outline-none focus:ring-0;
  }

  .floating-label {
    @apply absolute text-sm text-gray-400 md:text-gray-600 font-semibold duration-1000 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-blue-100 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4;
  }

  .sidebar-link {
    @apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer cursor-default duration-300 font-medium;
  }

  .sidebar-link-active {
    @apply bg-blue-100 text-blue-600;
  }

  .pagination-button {
    @apply p-2 bg-transparent border border-pagination-btn rounded-md disabled:opacity-50 transition-all duration-200 ease-in-out hover:bg-gray-200 disabled:cursor-not-allowed disabled:bg-transparent;
  }
}

.dark-theme {
  --public-nav-bg-1: #444;
  --public-nav-bg-2: #222;
  --public-nav-shadow-1: rgba(81, 137, 190, 0.7);
  --public-nav-shadow-2: rgba(66, 66, 66, 0);

  --primary-public-heading: #eee;
  --secondary-public-text: rgb(179, 184, 184);
  --public-input-bg: rgba(69, 69, 69, 0.76);
  --public-placeholder: #bbb;
  --public-input-text: #eee;
  --tertiary-public-text: rgba(255, 255, 255, 0.6);

  --spotlight-btn-bg-1: rgba(0, 0, 0, 0.7);
  --spotlight-btn-bg-2: rgba(28, 27, 27, 0.7);
  --spotlight-btn-bg-3: rgba(0, 0, 0, 0.4);
  --spotlight-circle: rgb(230, 230, 230);
  --spotlight-text: #ffffff;

  --socials-bg: #333;
  --socials-icon: #fff;

  --sidebar-bg-1: rgb(22, 22, 22);
  --sidebar-bg-2: rgb(47, 44, 44);
  --sidebar-text: #d3d2d4;
  --sidebar-active-bg: rgba(207, 165, 218, 0.5);
  --sidebar-scrollbar-bg: rgba(238, 245, 255, 0.2);
  --sidebar-scrollbar-fg: rgba(255, 255, 255, 0.4);
  --sidebar-menu-btn: rgb(230, 230, 230);

  --text-flip-primary-1: #e2e2e2;
  --text-flip-primary-2: #e1eeee;
  --text-flip-secondary-1: #ecd4fc;
  --text-flip-secondary-2: #e7b4ff;

  --resources-page-bg: #19191a;
  --pagination-btn: #eee;
  --page-text: #ccc;
  --resource-box-bg-1: rgb(32, 38, 57);
  --resource-box-bg-2: rgba(69, 86, 102, 0.8);
  --resource-box-primary: #dedddd;
  --resource-box-by-bg: #9c0ae6;
  --resource-box-by-text: #cac7c7;
  --resource-box-secondary: #c2c0c0;
  --resource-box-dropdown: #222;
  --resource-box-dropdown-border: #555;
  --dropdown-border-hover-bg: #333;
  --dropdown-underline: #bbb;
  --resource-search-bg: #222323;
  --resource-search-text: #dfe6e6;
  --search-icon: #eee;
  --search-btn-bg: rgb(12, 71, 129);
  --search-btn-text: #d3d7db;
  --search-btn-hover-bg: rgb(7, 40, 72);

  --no-resources-text: #bbb;
  --no-resources-link: #7da6f6;
  --no-resources-btn-bg-1: #527acb;
  --no-resources-btn-bg-2: #b4c4e3;
  --no-resources-btn-1-text: black;
  --no-resources-btn-2-text: #bbb;
  --no-resources-btn-2-border: #444;
}

.light-theme {
  --public-nav-bg-1: #fff;
  --public-nav-bg-2: #ddd;
  --public-nav-shadow-1: rgb(190, 207, 221);
  --public-nav-shadow-2: rgba(255, 255, 255, 0.5);

  --primary-public-heading: #111;
  --secondary-public-text: rgb(29, 29, 29);
  --public-input-bg: rgba(213, 213, 213, 0.659);
  --public-placeholder: #555;
  --public-input-text: #111;
  --tertiary-public-text: rgba(22, 21, 21, 0.9);

  --spotlight-btn-bg-1: rgba(255, 255, 255, 0.7);
  --spotlight-btn-bg-2: rgba(220, 220, 220, 0.7);
  --spotlight-btn-bg-3: rgba(255, 255, 255, 0.4);
  --spotlight-circle: rgb(230, 230, 230);
  --spotlight-text: #fff;

  --socials-bg: #ccc;
  --socials-icon: #000;

  --sidebar-bg-1: rgb(255, 255, 255, 1);
  --sidebar-bg-2: rgba(240, 240, 240, 1);
  --sidebar-text: #171617;
  --sidebar-active-bg: rgba(242, 190, 255, 0.8);
  --sidebar-scrollbar-bg: rgba(51, 65, 85, 0.2);
  --sidebar-scrollbar-fg: rgba(203, 213, 225, 0.4);
  --sidebar-menu-btn: rgb(20, 20, 20);

  --text-flip-primary-1: #282727;
  --text-flip-primary-2: #2f2932;
  --text-flip-secondary-1: #094645;
  --text-flip-secondary-2: #11706d;

  --resources-page-bg: #eee;
  --pagination-btn: #222;
  --page-text: #555;
  --resource-box-bg-1: rgba(247, 247, 247, 0.95);
  --resource-box-bg-2: rgba(221, 221, 245, 0.95);
  --resource-box-primary: #111;
  --resource-box-by-bg: #ebd3f8;
  --resource-box-by-text: #585858;
  --resource-box-secondary: #252222;
  --resource-box-dropdown: #ebedf0;
  --resource-box-dropdown-border: #ccc;
  --dropdown-border-hover-bg: #dfe1e6;
  --dropdown-underline: #7a7a7a;
  --resource-search-bg: #d0d3d9;
  --resource-search-text: #161717;
  --search-icon: #111;
  --search-btn-bg: #81c0ff;
  --search-btn-text: #1a1b1c;
  --search-btn-hover-bg: rgb(105, 160, 215);

  --no-resources-text: #222;
  --no-resources-link: #245ed2;
  --no-resources-btn-bg-1: #527acb;
  --no-resources-btn-bg-2: #b4c4e3;
  --no-resources-btn-1-text: black;
  --no-resources-btn-2-text: #555;
  --no-resources-btn-2-border: #999;
}
