@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-5xl {
    box-shadow: rgba(253, 116, 116, 0.1) 0px 54px 45px,
      rgba(80, 245, 245, 0.05) 0px -12px 30px,
      rgba(30, 108, 255, 0.05) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .shadow-dropdown {
    box-shadow: 0px 15px 10px 1px rgba(20, 20, 20, 0.3);
  }

  .shadow-inset {
    box-shadow: rgb(190, 207, 221) 3px 3px 6px 0px inset,
      rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }

  .glass-box-shadow {
    box-shadow: 0px 20px 20px 1px rgba(0, 0, 0, 0.39);
  }

  .input-shadow {
    box-shadow: 5px 20px 20px 1px rgba(235, 116, 116, 0.1);
  }

  .login-img {
    -webkit-box-shadow: 0px 3px 29px 11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 3px 29px 11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 3px 29px 11px rgba(0, 0, 0, 0.7);
  }

  .profile-inset-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  .profile-form-shadow {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}

@layer components {
  .items-container {
    @apply bg-white shadow-inset hover:shadow-5xl transition-all duration-1000 ease-in;
  }

  .public-nav-items {
    @apply flex flex-col w-full text-lg sm:text-xl items-center md:flex-row md:items-center gap-12 md:gap-[6vw] xl:gap-[4vw] text-black md:items-container md:p-4 md:px-8 xl:px-6 rounded-xl hover:scale-[1.05];
  }

  .glass-container {
    @apply md:bg-white/10 glass-box-shadow;
  }

  .floating-input {
    @apply block rounded-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-white font-semibold bg-white/20 md:bg-[#d4d2d2]/80 border-b-2 input-shadow appearance-none border-gray-500 focus:border-blue-200/80 focus:outline-none focus:ring-0;
  }

  .floating-label {
    @apply absolute text-sm text-gray-400 md:text-gray-600 font-semibold duration-1000 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-blue-100 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4;
  }

  .sidebar-link {
    @apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer cursor-default duration-300 font-medium;
  }

  .sidebar-link-active {
    @apply bg-blue-100 text-blue-600;
  }

  .pagination-button {
    @apply p-2 bg-transparent border border-black rounded-md disabled:opacity-50 transition-all duration-200 ease-in-out hover:bg-gray-200 disabled:cursor-not-allowed disabled:bg-transparent;
  }
}

* {
  color-scheme: dark;
}

body {
  background: #fff;
}
